.news_hero {
  width: 100%;
  background-image: url(../../../Images/teambg.jpg);
  height: 70vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #524d4d;
  background-attachment: fixed;
  background-blend-mode: multiply;
  cursor: pointer;
  transition: all 0.6s ease-out;
}

.hero_Hero {
  width: 85%;
  margin: 0 auto;
  padding-top: 20rem;
}

.hero_Hero h2 {
  color: #fff;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 20px;
  line-height: 45px;
}

.hero_Hero p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  width: 50%;
  line-height: 25px;
}
