.vision_Container {
  background: #fafafa;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.vision_Wrapper {
  width: 85%;
  margin: 0 auto;
}

.vision_Mission {
  display: flex;
  flex-direction: row;
  gap: 17rem;
}

.vision_Mission h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  margin-top: 2rem;
}

.vision_Text p {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  line-height: 28px;
  margin-top: 2rem;
}

.vision_Text h3 {
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  line-height: 28px;
  font-weight: 600;
  margin-top: 2.2rem;
}

.vision_Wrapper hr {
  margin-top: 3rem;
}

.bullet_List p {
  margin-bottom: 0px; /* Add spacing between list items */
  font-size: 16px; /* Adjust font size as needed */
  line-height: 2; /* Adjust line height for readability */
}

@media screen and (max-width: 1440px) {
  .vision_Wrapper {
    width: 95%;
  }
}

@media screen and (max-width: 770px) {
  .vision_Container {
    padding-top: 2rem;
  }

  .vision_Mission {
    gap: 4.5rem;
  }

  .vision_Mission h2 {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 500px) {
  .vision_Mission {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .vision_Mission h2 {
    text-align: left;
  }
}
