.header_Container {
  width: 100%;
}

.copyright {
  background: #7b3f00;
  opacity: 0.8;
  padding-top: 0.609rem;
  padding-bottom: 0.609rem;
}

.copyright .rights {
  width: 87%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2rem;
}

.copyright .icon {
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #fff;
}

.header_Wrapper {
  display: flex;
  flex-direction: row;
  width: 85%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid rgb(218, 213, 213);
  border-radius: 5px;
  border-top: none !important;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.42);
}

.header_Wrapper .burger_Menu {
  /* width: 4em; */
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  display: none;
  /* background-color: blue; */
}

.burger_class {
  background-color: black;
  height: 3px;
  width: 40px;
  margin: 3px auto;
  border-radius: 0.5rem;
}

.show_Nav {
  display: none;
}

@media screen and (max-width: 1440px) {
  .header_Wrapper {
    width: 95%;
  }
}

@media screen and (max-width: 1070px) {
  .header_Wrapper .burger_Menu {
    display: flex;
    flex-direction: column;
  }

  .show_Nav {
    display: block;
    background-color: red;
    width: 95%;
    margin: 0 auto;
    height: 90vh;
    position: absolute;
    top: 0;
    z-index: -1;
    /* margin-top: 10rem; */
  }

  .hidden {
    display: none;
  }

  .visible {
    display: inherit;
  }

  .burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.75em, 1.25em);
    transition: ease-out 0.5s;
  }

  .burger-bar.clicked:nth-child(2) {
    transform: scale(0.1);
    transition: ease-out 0.5s;
  }

  .burger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-0.5em, 1em);
    transition: ease-out 0.5s;
  }

  .burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}

@media screen and (max-width: 600px) {
  .header_Wrapper {
    border: none;
    box-shadow: none;
    padding-left: 0;
  }
}
