.header_Container {
  width: 100%;
}

.copyright {
  background: #7b3f00;
  opacity: 0.8;
  padding-top: 0.609rem;
  padding-bottom: 0.609rem;
}

.copyright .rights {
  width: 87%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2rem;
}

.copyright .icon {
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #fff;
}

.header_Wrapper {
  display: flex;
  flex-direction: row;
  width: 85%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid rgb(218, 213, 213);
  border-radius: 5px;
  border-top: none !important;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.42);
}

.hamburger {
  display: flex;
  flex-direction: column;
  display: none;
}

.hamburger .horizontal {
  width: 35px;
  height: 2px;
  margin: 3.5px 0px;
  background-color: black;
}

@media screen and (max-width: 1440px) {
  .header_Wrapper {
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .header_Wrapper {
    border: none;
    box-shadow: none;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 1070px) {
  .hamburger {
    display: flex;
  }
}
