.header_Container {
  width: 100%;
  /* margin-top: 2rem; */
}

.copyright {
  background: #7b3f00;
  opacity: 0.8;
  padding-top: 0.609rem;
  padding-bottom: 0.609rem;
}

.copyright .rights {
  width: 87%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2rem;
}

.copyright .icon {
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #fff;
}

.header_Wrapper {
  display: flex;
  flex-direction: row;
  width: 85%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid rgb(218, 213, 213);
  border-radius: 5px;
  border-top: none !important;
  /* box-shadow: 0px 3px 11px 4px rgba(0, 0, 0, 0.42); */
  /* box-shadow: 0px 3px 11px 1px rgba(0, 0, 0, 0.42); */
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.42);
}
