.company_Container {
  background: #fafafa;
  /* padding-top: 3rem; */
  /* padding-bottom: 5rem; */
}

.company_Wrapper {
  width: 85%;
  margin: 0 auto;
}

.company_Mission {
  display: flex;
  flex-direction: row;
  gap: 13rem;
}

.company_Mission h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  margin-top: 2rem;
}

.company_Text p {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  line-height: 28px;
  margin-top: 2rem;
}
